.full-width {
  width: 100%;
}

.chat {
  height: calc(100vh - 214px);
  overflow-y: scroll;
}

div.right {
  float: right;
}

div.messageContainer {
  display: flex;
}

div.message {
  max-width: 500px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  position: relative;
  color: white;
  text-align: left;
  overflow-wrap: break-word;
}


div.sent {
  flex-direction: row-reverse;
}

.sent div.message {
  color: white;
  background: #0083B0;
  align-self: flex-end;
}

.received div.message {
  background: #e5e5ea;
  color: black;
}

img {
  border-radius: 5px;
  height: 58px;
  width: 58px;
}

a:hover {
  color: red;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 0px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}